.about-pg {
    position: relative;
    color: var(--off-white);
    width: 100%;
    background-image: url(../images/sunday-service/Slate-blue-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    background-position: center;
}


