.choir-grid article {
  width: 100%;
}
@media (min-width: 689px) {
  .choir-grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
}
@media (min-width: 1047px) {
  .choir-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: .9em;
  }
}
