.choir-main {
  background: var(--off-white);
  top: 0;
}
.choir-grid img {
  border-radius: 50%;
}
.choir-grid article {
  width: 100%;
}
@media (min-width: 679px) {
  .choir-grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    width: 580px;
  }
}
@media (min-width: 943px) {
  .choir-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 35px 30px;
    width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 1153px) {
  .choir-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 1020px;
  }
}
@media (min-width: 1356px) {
  .choir-grid {
    grid-template-columns: repeat(5, 1fr);
    max-width: 1400px;
  }
}
