.body-event {
  scroll-behavior: smooth;
}
.event-img {
  width: 270px;
  height: 13rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}

.btn-events {
  color: var(--primary-color);
  border: 2px solid var(--off-white);
  padding: .4em .8em;
}

@media (min-width: 640px) {
  .event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    align-items: stretch;
    max-width: 660px;
  }
  .event-grid article {
    margin: 0 auto;
  }
}
@media (min-width: 964px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 990px;
    align-items: stretch;
  }
}
@media (min-width: 1294px) {
  .event-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1290px;
    align-items: stretch;
  }
}