@import "tailwindcss";

.open-sans {
  font-family: 'Open sans';
}
.raleway {
  font-family: 'Raleway';
}
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
.block-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  transition-duration: 100ms;
}
.block-animation:hover {
  box-shadow: 10px 10px 10px #8490a8 , -8px -8px 8px #e5e7eb;
  transition-duration: .7s;
}
@keyframes typing {
  0% { width: 0; }
  50%,
  60%,
  90% { 
    width: 100%; 
  }
  100% { width: 0; }
}
@keyframes blink {
  50% { border-color: transparent; }
}
.typing-text {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  border-right: 3px solid black;
  width: 0;
  animation: typing 6s steps(15, end) infinite, blink 0.7s infinite;
}
@keyframes slideleft {
  from {
    transform: translateX(900px);
  }
  to {
    transform: translateX(0);
  }
}
.animated-date p {
  animation: slideleft 2s ease-out forwards !important;
}
.animated-date p:nth-child(1) {
  animation-delay: 0.3s;
}
.animated-date p:nth-child(2) {
  animation-delay: 0.6s;
}
.animated-date p:nth-child(3) {
  animation-delay: 0.9s;
}

/*Img slider for 40 images*/
@keyframes imgSlider {
  0%, 2.5% { transform: translateX(0); }
  5%, 7.5% { transform: translateX(-2.5%); }
  10%, 12.5% { transform: translateX(-5%); }
  15%, 17.5% { transform: translateX(-7.5%); }
  20%, 22.5% { transform: translateX(-10%); }
  25%, 27.5% { transform: translateX(-12.5%); }
  30%, 32.5% { transform: translateX(-15%); }
  35%, 37.5% { transform: translateX(-17.5%); }
  40%, 42.5% { transform: translateX(-20%); }
  45%, 47.5% { transform: translateX(-22.5%); }
  50%, 52.5% { transform: translateX(-25%); }
  55%, 57.5% { transform: translateX(-27.5%); }
  60%, 62.5% { transform: translateX(-30%); }
  65%, 67.5% { transform: translateX(-32.5%); }
  70%, 72.5% { transform: translateX(-35%); }
  75%, 77.5% { transform: translateX(-37.5%); }
  80%, 82.5% { transform: translateX(-40%); }
  85%, 87.5% { transform: translateX(-42.5%); }
  90%, 92.5% { transform: translateX(-45%); }
  95%, 97.5% { transform: translateX(-47.5%); }
  100% { transform: translateX(0); } /* Loops back */
}
.adult-slider {
  animation: imgSlider 80s linear infinite;
}

/*Img slider for 20 images*/
@keyframes slider {
  0%, 4% { transform: translateX(0); }
  5%, 9% { transform: translateX(-5%); } 
  10%, 14% { transform: translateX(-10%); }
  15%, 19% { transform: translateX(-15%); }
  20%, 24% { transform: translateX(-20%); }
  25%, 29% { transform: translateX(-25%); }
  30%, 34% { transform: translateX(-30%); }
  35%, 39% { transform: translateX(-35%); }
  40%, 44% { transform: translateX(-40%); }
  45%, 49% { transform: translateX(-45%); }
  50%, 54% { transform: translateX(-50%); }
  55%, 59% { transform: translateX(-55%); }
  60%, 64% { transform: translateX(-60%); }
  65%, 69% { transform: translateX(-65%); }
  70%, 74% { transform: translateX(-70%); }
  75%, 79% { transform: translateX(-75%); }
  80%, 84% { transform: translateX(-80%); }
  85%, 89% { transform: translateX(-85%); }
  90%, 94% { transform: translateX(-90%); }
  95%, 99% { transform: translateX(-95%); }
  100% { transform: translateX(0); } 
}
.animate-slider {
  animation: slider 50s steps(1, end) infinite;
}

/*Img slider for 10 imgs*/
@keyframes imageSlider {
  0%, 9% { transform: translateX(0); } 
  10%, 19% { transform: translateX(-10%); } 
  20%, 29% { transform: translateX(-20%); }
  30%, 39% { transform: translateX(-30%); }
  40%, 49% { transform: translateX(-40%); }
  50%, 59% { transform: translateX(-50%); }
  60%, 69% { transform: translateX(-60%); }
  70%, 79% { transform: translateX(-70%); }
  80%, 89% { transform: translateX(-80%); }
  90%, 99% { transform: translateX(-90%); }
  100% { transform: translateX(0); }
}

.img-slider {
  animation: imageSlider 40s steps(1, end) infinite;
}

@media (min-width: 640px) {
  .event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch; 
  }
}
@media (min-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}