@import url(./main-events.css);
@import url(./sunday-school.css);
@import url(./choir.css);
@import url(./gallery.css);
@import "tailwindcss";

.sidebar {
  display: none;
}
.menuBtn {
  display: none;
}
nav a:hover {
  color: rgb(202, 202, 202);
  border: none;
}
.active {
  border-bottom: 3px solid black;
  font-weight: 700;
}
@media (max-width: 880px) {
  .hideOnMobile {
    display: none;
  }
  .menuBtn {
    display: block;
  }
}
@media (max-width: 430px) {
  .sidebar {
    width: 100%;
  }
}
