@import url(./general-styles.css);
@import url(./events.css);
@import url(./sunday-school.css);
@import url(./choir.css);
@import url(./gallery.css);
@import url(./contact.css);
@import url(./about.css);
@import url(./navbar.css);
@import url(./animations.css);
@import url(./location.css);
@import url(./service.css);

@import "tailwindcss";

/*Parallax Scrolling*/
html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

/*Index-Hero-Section*/
.index-body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
}
.main-parallax {
  min-height: 100dvh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}
.main-parallax, .main-parallax:before {
  background: 50% 50% / cover;
}
.main-parallax::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-image: url(../images/altar.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -10;
  min-height: 100dvh;
}
.index-hero-section {
  padding: 0 5vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.cta-button {
  padding: .8em 1.6em;
  background-color: #1447E6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/*Index-About-Section*/
.index-about-section {
  background: var(--off-white);
}
.index-about-section h2 {
  color: var(--primary-color);
}
.text-btn-div {
  box-shadow: 0 8px 10px var(--accent-color),
                      0 -8px 10px var(--accent-color),
                      8px 0 10px var(--accent-color),
                      -8px 0 10px var(--accent-color);
}
.text-btn-div .text-1 {
  font-size: 18px;
}
.text-btn-div .text-2 {
  font-weight: 300;
}
.text-btn-div button {
  background-color: var(--off-white);
  border: 2px solid var(--primary-color);
  color: (--text-color);
}
.text-btn-div button:hover {
  background-color: var(--primary-color);
  color: var(--off-white);
}




/*Index--Section*/







@media (min-width: 790px) {
  .hero-h1 {
    font-size: 40px;
  }
}
/*
.textContainer {
  overflow-x: hidden;
}
.textContainer .typing-text {
  position: relative;
  text-wrap: nowrap;
  font-size: ;
  font-weight: ;
  color: ;
}
.textContainer .typing-text.first-text {
  color: ;
}
.textContainer .typing-text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 3px solid ;
  animation: animateMultipleText 4s steps(12) infinite;
  background-color: ;
}
*/


