/*Navigation Menu Only*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--off-white);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3vw;
  height: 60px;
}
.scrolled-header {
  position: fixed;
  top: 0;
  
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .logo-img {
  width: 4rem;
}
.header .logo-name {
  font-size: 15px;
  color: var(--text-color);
  text-decoration: none;
}
a.active {
  color: var(--primary-color);
  font-weight: 600;
}
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  padding-right: 2vw;
}

.navbar-menu a:hover {
  transition: color .5s;
  color: var(--accent-color);
}
.line {
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.navbar {
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.navbar-burger {
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  padding: .5;
}
#nav-toggle {
  display: none !important;
}
.navbar-menu {
  padding-left: 15px;
  padding-top: 15px;
  background-color: var(--off-white);
  color: var(--text-color);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-200px);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 2000;
}
.navbar-menu a {
  display: block;
  padding: 0.8em;
  font-size: 20px;
}
#nav-toggle:checked ~ .navbar-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
body.no-scroll {
  overflow: hidden;
}

@media (max-width: 369px) {
  .header .logo-name {
    font-size: 14px;
  }
}
@media (min-width: 590px) {
  .header .logo-name {
    font-size: 19px;
  }
}
@media (min-width: 952px) {
  .navbar-burger {
    display: none;
  }
  .navbar-menu {
    display: flex;
    padding: 0; 
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    opacity: 1;
    visibility: visible;
    transform: none;
    height: 100%;
  }
  .navbar-menu li {
    margin-bottom: 0;
  }
  .navbar-menu a {
    color: var(--text-color);
    font-size: 17px;
  }
  .navbar-menu a:hover {
    transition: color .5s;
    color: var(--accent-color);
  }
}
