body {
  padding:20px;
  margin:10px;
}
.main-container {
  background-color:white;
  line-height:1px;
  background-image: url("images/Rev.-Pastor-Founder-SBJ-Oshoffa-300x300-1.webp");
  opacity:1.5;
}
