
.main-container {
  background-color:white;
  background-image: url("images/Rev.-Pastor-Founder-SBJ-Oshoffa-300x300-1.webp");
  opacity:1.0;
  margin:10px;
  padding:20px 20px;
}
.h-l{
 font-weight:500;
 color:"blue";
 font-family:Monospace;
}
.img-1{
 display:flex;
 opacity:0.7;
}